.doc-card{
    height: 80vh;
}
.doc-card2{
    background-color: #75E6DA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    padding-bottom: 20px;
}
.doc-card3{
    width: Hug (682.92px)px;
height: Hug (54px)px;
top: 121px;
left: 385px;
gap: 8px;
opacity: 0px;

display: flex;

}
.doc-card4{
    width: Fixed (200px)px;
height: Fixed (54px)px;
padding: 4px 12px 4px 12px;
gap: 8px;
border-radius: 8px ;
border: 1px 0px 0px 0px;
opacity: 0px;
border: 1px solid #D4D4D4;
background: #FFFFFF;
display: flex;
align-items: center;

}
.doc-card5{
    
border: 1px solid #D4D4D4;
background: #FFFFFF;
    width: Hug (474.92px)px;
height: Fixed (54px)px;
padding: 4px 12px 4px 12px;
gap: 105px;
border-radius: 10px;
border: 1px ;
opacity: 0px;

display: flex;
align-items: center;


}
.doc{
height: 221px;
top: 94px;
gap: 0px;
opacity: 0px;

}
.doc-para{
    font-family: Gotham Rounded;
font-size: 32px;
font-weight: 350;
line-height: 24px;
letter-spacing: 0.005em;
text-align: center;

}
.doc-select{
    width: 119px;
height: 24px;
gap: 0px;
opacity: 0px;
border:0;

}
.doc-search{
    width: 100%;
height: 24px;
gap: 0px;
opacity: 0px;
border:0;

}

.icon-location{
    width:8px;
    margin-right: 4px;
}

.icon-arow{
    width:40px;
    margin-right: 4px;
}