.header{
    display: flex;
    border:2px solid red;
    justify-content: center;
}

.header-ul{
    display: flex;
    border:2px solid green;
    justify-content: space-between;
    width:96vw;
}
.header-ul2{
    display: flex;
    justify-content: space-between;
    width:30vw;
    align-items: center;
}
.header-logo{
    color:black;
    text-decoration: none;
}
.Header-pro-card{
    border:2px solid red;
    padding:0;
    margin:0;
}
.Header-pro{
    border:2px solid green;
    padding:0;
    margin:0;
    font-size: 20px;
}